.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  width: 90vw;
  /* max-width: 1170px; */
  margin: auto;
}

img {
  border-radius: 10px;
}

.title {
  text-align: center;
  color: #004848;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
